@import "../variables.scss";

.questions-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.questions-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.next-button {
  margin-top: 30px;
  background: $confirm-color;
  color: $neutral-color;
  padding: 15px 60px;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
}

.question-image img {
  max-height: 360px;
  width: 420px;
  margin-bottom: 20px;
}

.correct {
}

.incorrect {
  color: $neutral-color;
}

.icon {
  height: 30px;
  margin: 0 20px;
  color: $control-color-main;
}

.incorrect .icon {
  color: $neutral-color;
}

.iconHit {
  height: 30px;
  margin: 0 20px;
  color: $confirm-color;
}

.iconMiss {
  height: 30px;
  margin: 0 20px;
  color: $reject-color;
}

.answer {
  border: 2px solid $control-color-main;
  padding: 20px;
  border-radius: 15px;
  font-size: 24px;
  margin: 5px;
  width: 340px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.answer.incorrect {
  background: $control-color-main;
}
