.questions-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-button {
  margin-top: 30px;
  background: green;
  color: white;
  padding: 15px 60px;
  font-size: 24px;
  border-radius: 15px;
}

.question-image img {
  max-width: 380px;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}
