.score-content {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.finish-icon {
  color: #0352a6;
  font-size: 48px;
  padding: 5px;
  width: 124px;
  margin: 30px;
}

.total-score {
  font-size: 48px;
}

.finish-button {
  margin-top: 60px;
  border: 2px solid #0352a6;
  color: #0352a6;
  padding: 15px 60px;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.finish-button a {
  color: #0352a6;
}
